@page
@model WebAppSoporte.Pages.LicenciasOffice.CreateModel
@{
	ViewData["Title"] = "Crear Licencia Office";
	Layout = "_Layout";
}
<h1>Crear Licencia Office</h1>

<div class="d-flex justify-content-center mt-5">
	<form method="post" class="w-50">
	<div class="form-group">
		<label asp-for="LicenciaOffice.Cuenta" class="control-label"></label>
		<input asp-for="LicenciaOffice.Cuenta" class="form-control" />
		<span asp-validation-for="LicenciaOffice.Cuenta" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="LicenciaOffice.IdEquipo" class="control-label"></label>
		<input asp-for="LicenciaOffice.IdEquipo" class="form-control" />
		<span asp-validation-for="LicenciaOffice.IdEquipo" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Crear</button>
		<a class="btn btn-secondary" asp-page="./Index">Volver a la lista</a>
	</div>
</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
