@page
@model WebAppInventarioS.Pages.Usuarios.EditModel
@{
	ViewData["Title"] = "Editar Usuario";
}
	<h1>Editar Usuario</h1>
	<div class="d-flex justify-content-center mt-5">
		<form method="post" class="w-50">
			<input type="hidden" asp-for="Usuario.IdUsuario" />
			<validation-summary model-only class="text-danger"></validation-summary>
			<div class="form-group">
				<label asp-for="Usuario.IdRol"></label>
				<select asp-for="Usuario.IdRol" class="form-control" asp-items="Model.Roles">
					<option value="">Seleccione un Rol</option>
				</select>
				<span asp-validation-for="Usuario.IdRol" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Usuario.Status"></label>
				<select asp-for="Usuario.Status" class="form-control">
					<option value="true">Activo</option>
					<option value="false">Inactivo</option>
				</select>
				<span asp-validation-for="Usuario.Status" class="text-danger"></span>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Guardar" class="btn btn-primary" />
				<a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
			</div>
		</form>
	</div>

	@section Scripts {
		<partial name="_ValidationScriptsPartial" />
	}

